@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-trueGray-900;
  }
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(85 64 175 / var(--tw-bg-opacity));
}

.bg-lila {
  --tw-bg-opacity: 1;
  background-color: rgb(230 229 236 / var(--tw-bg-opacity));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(85 64 175 / var(--tw-text-opacity));
}

.bg-logo-clouds-line {
  background-image: linear-gradient(
    90deg,
    #9ca3af,
    rgba(156, 163, 175, 0) 39.47%,
    rgba(156, 163, 175, 0) 50%,
    rgba(156, 163, 175, 0) 60.51%,
    #9ca3af
  );
}

.from-primary {
  --tw-gradient-from: #9333ea var(--tw-gradient-from-position);
  --tw-gradient-from-position: ;
  --tw-gradient-to: rgb(147 51 234 / 0) var(--tw-gradient-from-position);
  --tw-gradient-to-position: ;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.my-phone-input {
  --react-international-phone-height: 40px;
}
